@import './styles/palette.scss';
@import './styles/mixins.scss';

.App {
  
  main {
    display: flex;
    flex-direction: column;
    
    @include md {
      flex-direction: row;
    }
    
    section {
      
      
      &.ww-sidebar {
      
        background-color: $color-ww-primary;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 30px;
        
        @include md {
          flex-basis: 25%;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        }
        
        .ww-sidebar-logo {
          img {
            filter: brightness(0) invert(1); // makes it white
          }
        }
        
      }
      
      &.ww-main-content {
               
        @include md {
          flex-basis: 75%;
        }
        
        .ww-products-filter {
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: $color-whitesmoke;
          padding: 30px;

          @include md {
            flex-direction: row;
          }

          .ww-products-filter-search {
            min-width: 220px;
          }
        }
        
      }
    }
  }
}

